{%extends 'base.html'%}
{%block content%}
<h1 style="text-align:center;">Sign In</h1>
<form action='' method="post" class='form form-group ' style="margin: 0 auto;width:350px;">
    {{form.hidden_tag()}}
    <p>
        {{form.username.label}}<br>
        {{form.username(size=32,class_='form-control')}}
    </p>
    <p>
        {{form.password.label}}<br>
        {{form.password(size=32,class_='form-control form-field')}}
    </p>
    <p>

        <p>{{ form.remember_me(class_='form-checkbox-inline') }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class='btn btn-primary') }}</p>
    </p>
</form>
<center><small class='text text-muted'><a href="{{url_for('forgot_password')}}">Forgot Password?</a></small></center>
<center><small class='text text-muted'>Don't have an account?</small></center>
<center><small class='text text-muted'><a href="{{url_for('register')}}">Create one now</a></small></center>
{%endblock%}