{%extends 'base.html'%}

<html>
    <title>
        Password Reset
    </title>
    <body>
        {%block content%}
        <h1>
           Password Reset mail sent!
        </h1>
        <p>
            If such a user exists, We have sent the mail to the primary email address associated
            with the account.
        </p>
        <p>
            Please follow the instructions in the mail.
        </p>
        <p>
            If the mail did not arrive please check the thrash and spam folders.
            The link will be valid for 1 minute only.
        </p>
        {%endblock%}
    </body>
</html>