{%extends 'base.html'%}
{% for field in form.errors %}
{% for error in form.errors[field] %}
    <div class="alert alert-error">
        <strong>Error!</strong> {{error}}
    </div>
{% endfor %}
{% endfor %}
{%block content%}
<h1>Sign Up</h1>
<form action='' method="post" class='form form-group ' >
    {{form.hidden_tag()}}
    <p>
        {{form.username.label}}<br>
        {{form.username(size=32,class_='form-control')}}
    </p>
	<p>
        {{form.email.label}}<br>
        {{form.email(size=200,class_='form-control form-field')}}
    </p>
    
    <p>
        {{form.password.label}}<br>
        {{form.password(size=64,class_='form-control form-field')}}
    </p>
    <p>
        <p>{{ form.register(class='btn btn-primary') }}</p>
    </p>
</form>
<center><small class='text text-muted'>Already have an account?</small></center>
<center><small class='text text-muted'><a href="{{url_for('login')}}">Sign In</a></small></center>
{%endblock%}